In [11]:
import pandas as pd
import random
df = pd.read_csv('./climate2020.csv')
df.head(5)

  觀測時間(month) 測站氣壓(hPa) 海平面氣壓(hPa)  ... 月最高紫外線指數 月最高紫外線指數時間(LST)     總雲量(0~10)
0     ObsTime   StnPres    SeaPres  ...  UVI Max    UVI Max Time  Cloud Amount
1          01    1008.7     1018.9  ...      ...             ...           3.8
2          02    1010.5     1020.6  ...      ...             ...           4.0
3          03    1005.3     1015.3  ...      ...             ...           6.4
4          04    1005.7     1015.7  ...      ...             ...           6.4

[5 rows x 35 columns]

In [5]:
df.info

<bound method DataFrame.info of    觀測時間(month) 測站氣壓(hPa) 海平面氣壓(hPa)  ... 月最高紫外線指數 月最高紫外線指數時間(LST)     總雲量(0~10)
0      ObsTime   StnPres    SeaPres  ...  UVI Max    UVI Max Time  Cloud Amount
1           01    1008.7     1018.9  ...      ...             ...           3.8
2           02    1010.5     1020.6  ...      ...             ...           4.0
3           03    1005.3     1015.3  ...      ...             ...           6.4
4           04    1005.7     1015.7  ...      ...             ...           6.4
5           05     999.4     1009.2  ...      ...             ...           6.7
6           06     999.1     1008.8  ...      ...             ...           5.4
7           07     998.7     1008.3  ...      ...             ...           5.9
8           08     997.5     1007.2  ...      ...             ...           6.3
9           09     999.5     1009.2  ...      ...             ...           5.5
10          10    1002.0     1011.8  ...      ...             ...           5.0
11          11    1005.9     1015.8  ...      ...             ...           4.9
12          12    1007.3     1017.4  ...      ...             ...           6.6

[13 rows x 35 columns]>

In [6]:
df.columns

Index(['觀測時間(month)', '測站氣壓(hPa)', '海平面氣壓(hPa)', '測站最高氣壓(hPa)',
       '測站最高氣壓時間(LST)', '測站最低氣壓(hPa)', '測站最低氣壓時間(LST)', '氣溫(℃)', '最高氣溫(℃)',
       '最高氣溫時間(LST)', '最低氣溫(℃)', '最低氣溫時間(LST)', '露點溫度(℃)', '風速(m/s)',
       '風向(360degree)', '最大陣風(m/s)', '最大陣風風向(360degree)', '最大陣風風速時間(LST)',
       '降水量(mm)', '降水時數(hour)', '降水日數(day)', '最大十分鐘降水量(mm)',
       '最大十分鐘降水量起始時間(LST)', '最大六十分鐘降水量(mm)', '最大六十分鐘降水量起始時間(LST)',
       '最大日降水量(mm)', '最大日降水量時間(LST)', '相對溼度(%)', 'A型蒸發量(mm)', '日照時數(hour)',
       '全天空日射量(MJ/㎡)', '平均日最高紫外線指數', '月最高紫外線指數', '月最高紫外線指數時間(LST)',
       '總雲量(0~10)'],
      dtype='object')

In [7]:
df.values

array([['ObsTime', 'StnPres', 'SeaPres', 'StnPresMax', 'StnPresMaxTime',
        'StnPresMin', 'StnPresMinTime', 'Temperature', 'T Max',
        'T Max Time', 'T Min', 'T Min Time', 'Td dew point', 'WS', 'WD',
        'WSGust', 'WDGust', 'WGustTime', 'Precp', 'PrecpHour',
        'PrecpDay', 'PrecpMax10', 'PrecpMax10Time', 'PrecpMax60',
        'PrecpMax60Time', 'Precp1DayMax', 'Precp1DayMaxTime', 'RH',
        'EvapA', 'SunShine', 'GloblRad', 'UVI Max Mean', 'UVI Max',
        'UVI Max Time', 'Cloud Amount'],
       ['01', '1008.7', '1018.9', '1017.7', '2020-01-01 09:33', '999.6',
        '2020-01-26 13:39', '18.0', '29.0', '2020-01-23 12:58', '6.9',
        '2020-01-31 06:36', '13.5', '1.3', '340', '12.5', '30',
        '2020-01-28 20:11', '20.0', '12.6', '1', '3.0',
        '2020-01-26 07:41', '6.0', '2020-01-26 08:33', '20.0',
        '2020-01-26 00:00', '76', '89.0', '225.1', '418.05', '...',
        '...', '...', '3.8'],
       ['02', '1010.5', '1020.6', '1017.8', '2020-02-21 09:02', '1001.7',
        '2020-02-15 14:34', '19.0', '30.2', '2020-02-26 12:12', '8.4',
        '2020-02-01 06:31', '13.5', '1.3', '350', '11.7', '350',
        '2020-02-08 14:05', '4.5', '12.8', '2', '2.0',
        '2020-02-15 18:01', '2.5', '2020-02-15 17:40', '2.5',
        '2020-02-15 00:00', '72', '82.0', '212.5', '446.52', '...',
        '...', '...', '4.0'],
       ['03', '1005.3', '1015.3', '1011.6', '2020-03-16 08:59', '995.5',
        '2020-03-09 14:36', '22.3', '33.2', '2020-03-26 13:47', '14.5',
        '2020-03-15 05:29', '16.5', '1.3', '330', '11.4', '320',
        '2020-03-04 21:38', '55.0', '26.5', '6', '3.5',
        '2020-03-28 07:10', '10.5', '2020-03-10 05:28', '23.5',
        '2020-03-10 00:00', '70', '105.6', '178.0', '480.35', '...',
        '...', '...', '6.4'],
       ['04', '1005.7', '1015.7', '1010.9', '2020-04-02 09:51', '1000.6',
        '2020-04-19 16:45', '22.2', '32.8', '2020-04-19 12:57', '12.8',
        '2020-04-13 06:04', '16.1', '1.3', '350', '13.2', '340',
        '2020-04-13 14:05', '59.5', '52.5', '9', '5.5',
        '2020-04-02 05:58', '11.5', '2020-04-02 05:56', '20.0',
        '2020-04-02 00:00', '70', '100.7', '154.5', '493.50', '...',
        '...', '...', '6.4'],
       ['05', '999.4', '1009.2', '1005.0', '2020-05-01 08:49', '992.7',
        '2020-05-17 15:52', '27.5', '36.9', '2020-05-10 12:16', '21.8',
        '2020-05-20 05:02', '22.4', '1.3', '220', '10.8', '190',
        '2020-05-16 16:09', '306.5', '72.1', '11', '14.0',
        '2020-05-16 16:38', '29.0', '2020-05-27 09:46', '61.0',
        '2020-05-22 00:00', '75', '121.2', '167.2', '522.51', '...',
        '...', '...', '6.7'],
       ['06', '999.1', '1008.8', '1004.7', '2020-06-15 00:04', '994.8',
        '2020-06-12 16:17', '29.1', '35.1', '2020-06-29 14:10', '22.0',
        '2020-06-10 03:22', '22.9', '1.7', '200', '15.5', '260',
        '2020-06-09 16:58', '183.5', '23.5', '5', '26.0',
        '2020-06-14 14:30', '91.0', '2020-06-14 14:25', '99.0',
        '2020-06-14 00:00', '70', '121.8', '211.9', '609.28', '...',
        '...', '...', '5.4'],
       ['07', '998.7', '1008.3', '1003.0', '2020-07-21 09:11', '993.8',
        '2020-07-14 15:43', '29.6', '36.3', '2020-07-31 13:00', '24.0',
        '2020-07-21 04:14', '24.3', '1.5', '190', '15.3', '250',
        '2020-07-10 12:46', '93.5', '19.8', '12', '11.0',
        '2020-07-03 16:36', '18.0', '2020-07-03 16:30', '28.0',
        '2020-07-02 00:00', '74', '137.2', '215.1', '614.72', '...',
        '...', '...', '5.9'],
       ['08', '997.5', '1007.2', '1006.0', '2020-08-12 21:54', '991.6',
        '2020-08-25 15:04', '28.5', '35.2', '2020-08-25 14:05', '23.2',
        '2020-08-16 04:09', '23.5', '1.2', '190', '17.5', '170',
        '2020-08-27 12:07', '278.5', '42.1', '16', '14.0',
        '2020-08-12 16:06', '50.5', '2020-08-03 11:04', '70.0',
        '2020-08-03 00:00', '75', '112.6', '174.5', '526.22', '...',
        '...', '...', '6.3'],
       ['09', '999.5', '1009.2', '1005.1', '2020-09-19 08:55', '991.9',
        '2020-09-01 03:36', '28.1', '35.1', '2020-09-07 13:35', '21.7',
        '2020-09-07 05:29', '22.3', '1.3', '350', '11.1', '20',
        '2020-09-21 14:09', '74.0', '8.1', '4', '14.0',
        '2020-09-13 13:21', '54.0', '2020-09-13 12:54', '54.5',
        '2020-09-13 00:00', '71', '111.5', '198.6', '512.50', '...',
        '...', '...', '5.5'],
       ['10', '1002.0', '1011.8', '1008.0', '2020-10-29 08:40', '995.5',
        '2020-10-21 14:44', '26.1', '34.8', '2020-10-04 13:28', '19.7',
        '2020-10-23 07:53', '20.0', '1.7', '10', '15.4', '10',
        '2020-10-22 14:43', 'T', '3.6', '0', 'T', '2020-10-23 07:40',
        '0.0', '...', '0.0', '2020-10-01 00:00', '69', '132.4', '220.1',
        '506.06', '...', '...', '...', '5.0'],
       ['11', '1005.9', '1015.8', '1011.0', '2020-11-28 09:21', '998.4',
        '2020-11-06 15:30', '23.9', '33.7', '2020-11-21 13:38', '18.1',
        '2020-11-11 06:08', '18.5', '1.4', '350', '10.6', '360',
        '2020-11-03 13:51', '3.5', '16.5', '2', '0.5',
        '2020-11-07 18:01', '1.0', '2020-11-13 16:00', '3.0',
        '2020-11-13 00:00', '72', '91.3', '182.9', '376.24', '...',
        '...', '...', '4.9'],
       ['12', '1007.3', '1017.4', '1015.8', '2020-12-31 09:37', '1000.7',
        '2020-12-28 15:16', '19.5', '28.5', '2020-12-28 14:25', '9.1',
        '2020-12-31 08:08', '15.2', '1.8', '10', '15.6', '10',
        '2020-12-30 11:01', '41.5', '36.0', '6', '5.0',
        '2020-12-09 10:47', '11.0', '2020-12-09 10:16', '28.5',
        '2020-12-09 00:00', '77', '81.4', '156.2', '338.25', '...',
        '...', '...', '6.6']], dtype=object)

In [39]:
data = {
    'class':[],
    'no':[],
    'age':[],
    'tempture':[]
}
random.seed(0)
for key in data:
    for i in range(1,21):
        if key == 'class':
            data['class'].append(random.choice(['A','B','C']))
        if key == 'no':
            data['no'].append(i)
        if key == 'age':
            data['age'].append(random.choice([' ','12','13','14']))
        if key == 'tempture':
            data['tempture'].append(random.choice([36,36.5,37]))
df_data = pd.DataFrame(data)
df_data

   class  no age  tempture
0      B   1  12      36.5
1      B   2  13      36.0
2      A   3          37.0
3      B   4          36.5
4      C   5  13      37.0
5      B   6  14      36.0
6      B   7          36.0
7      B   8  13      37.0
8      B   9  14      36.0
9      B  10  13      36.0
10     C  11  12      36.0
11     A  12  14      37.0
12     C  13  14      36.5
13     A  14  13      36.0
14     B  15          36.0
15     A  16          36.5
16     A  17          37.0
17     C  18  14      36.5
18     B  19          36.0
19     C  20  14      36.5

In [24]:
df_data.info

<bound method DataFrame.info of    class  no age tempture
0      B   1  12     36.5
1      B   2  13       36
2      A   3           37
3      B   4         36.5
4      C   5  13       37
5      B   6  14       36
6      B   7           36
7      B   8  13       37
8      B   9  14       36
9      B  10  13       36
10     C  11  12       36
11     A  12  14       37
12     C  13  14     36.5
13     A  14  13       36
14     B  15           36
15     A  16         36.5
16     A  17           37
17     C  18  14     36.5
18     B  19           36
19     C  20  14     36.5>

In [27]:
#取指定數據
class_ = df_data['class']
class_[:7]

0    B
1    B
2    A
3    B
4    C
5    B
6    B
Name: class, dtype: object

In [28]:
# series: part of dataframe
class_.index

RangeIndex(start=0, stop=20, step=1)

In [29]:
class_.values[:7]

array(['B', 'B', 'A', 'B', 'C', 'B', 'B'], dtype=object)

In [30]:
df_data.head()

  class  no age tempture
0     B   1  12     36.5
1     B   2  13       36
2     A   3           37
3     B   4         36.5
4     C   5  13       37

In [40]:
df_data = df_data.set_index('no') # 更改原結構 被當索引的col 會從原col拿出
df_data

   class age  tempture
no
1      B  12      36.5
2      B  13      36.0
3      A          37.0
4      B          36.5
5      C  13      37.0
6      B  14      36.0
7      B          36.0
8      B  13      37.0
9      B  14      36.0
10     B  13      36.0
11     C  12      36.0
12     A  14      37.0
13     C  14      36.5
14     A  13      36.0
15     B          36.0
16     A          36.5
17     A          37.0
18     C  14      36.5
19     B          36.0
20     C  14      36.5

In [41]:
tempture = df_data['tempture']
tempture[:5]

no
1    36.5
2    36.0
3    37.0
4    36.5
5    37.0
Name: tempture, dtype: float64

In [42]:
tempture[5]

37.0

In [43]:
tempture = tempture + 10
tempture[:5]

no
1    46.5
2    46.0
3    47.0
4    46.5
5    47.0
Name: tempture, dtype: float64

In [44]:
tempture.mean()

46.4

In [45]:
tempture.min()

46.0

In [46]:
tempture.max()

47.0

In [48]:
des = df_data.describe() # 有數值得列會統計出來  字串不會
des

        tempture
count  20.000000
mean   36.400000
std     0.416754
min    36.000000
25%    36.000000
50%    36.500000
75%    36.625000
max    37.000000

In [50]:
des['tempture']['std']

0.41675437673324534