In [1]:
import pandas as pd
import numpy as np
s = pd.Series(['A','b','B','geat','Great',np.nan])
s

0        A
1        b
2        B
3     geat
4    Great
5      NaN
dtype: object

In [2]:
s.str.lower()

0        a
1        b
2        b
3     geat
4    great
5      NaN
dtype: object

In [3]:
s.str.upper()

0        A
1        B
2        B
3     GEAT
4    GREAT
5      NaN
dtype: object

In [4]:
s.str.len()

0    1.0
1    1.0
2    1.0
3    4.0
4    5.0
5    NaN
dtype: float64

In [5]:
index = pd.Index(['          tang','  yi ','di'])
index

Index(['          tang', '  yi ', 'di'], dtype='object')

In [6]:
index.str.strip()

Index(['tang', 'yi', 'di'], dtype='object')

In [7]:
index.str.lstrip()

Index(['tang', 'yi ', 'di'], dtype='object')

In [8]:
index.str.rstrip()

Index(['          tang', '  yi', 'di'], dtype='object')

In [11]:
df = pd.DataFrame(np.random.randn(3,2),columns=['A a','B b'],index=range(3))
df

        A a       B b
0 -0.181221 -1.388996
1 -1.465081  0.768282
2 -0.151079  0.219318

In [12]:
df.columns = df.columns.str.replace(' ','_')
df

        A_a       B_b
0 -0.181221 -1.388996
1 -1.465081  0.768282
2 -0.151079  0.219318

In [13]:
s = pd.Series(['a_b_C','c_d_e','f_g_h'])
s

0    a_b_C
1    c_d_e
2    f_g_h
dtype: object

In [14]:
s.str.split('_')

0    [a, b, C]
1    [c, d, e]
2    [f, g, h]
dtype: object

In [15]:
s.str.split('_',expand=True)

   0  1  2
0  a  b  C
1  c  d  e
2  f  g  h

In [16]:
s.str.split('_',expand=True, n=1) # once split

   0    1
0  a  b_C
1  c  d_e
2  f  g_h

In [19]:
s = pd.Series(['A','Ab','Abc','Ad','Ae','Af',])
s

0      A
1     Ab
2    Abc
3     Ad
4     Ae
5     Af
dtype: object

In [20]:
s.str.contains('Ab')

0    False
1     True
2     True
3    False
4    False
5    False
dtype: bool

In [23]:
s = pd.Series(['A','A|b','A|b|c','A|d','Ae','Af',])
s

0        A
1      A|b
2    A|b|c
3      A|d
4       Ae
5       Af
dtype: object

In [24]:
s.str.get_dummies(sep='|')

   A  Ae  Af  b  c  d
0  1   0   0  0  0  0
1  1   0   0  1  0  0
2  1   0   0  1  1  0
3  1   0   0  0  0  1
4  0   1   0  0  0  0
5  0   0   1  0  0  0