In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series(np.arange(5),index=(np.arange(5)[::-1]),dtype='int64')
s

4    0
3    1
2    2
1    3
0    4
dtype: int64

In [3]:
s.isin([1,3,4]) #有沒有存在其中

4    False
3     True
2    False
1     True
0     True
dtype: bool

In [4]:
s[s.isin([1,3,4])]

3    1
1    3
0    4
dtype: int64

In [7]:
s2 = pd.Series(np.arange(6),index=pd.MultiIndex.from_product([[0,1],['a','v','c']]),dtype='int64') # MultiIndex 相乘個數要跟data一樣
s2

0  a    0
   v    1
   c    2
1  a    3
   v    4
   c    5
dtype: int64

In [11]:
s2.iloc[s2.index.isin([(1,'a'),('c',0)])] # tuple內 要按照索引的順序

1  a    3
dtype: int64

In [12]:
s

4    0
3    1
2    2
1    3
0    4
dtype: int64

In [13]:
s[s>2]

1    3
0    4
dtype: int64

In [16]:
df = pd.DataFrame(np.random.randn(8,4),index=pd.date_range('20210721',periods=8),columns=['A','A1','A2','A3',])
df

                   A        A1        A2        A3
2021-07-21 -0.332861 -0.903407 -0.497269  1.265739
2021-07-22 -0.146671 -0.416591 -0.717992  0.198331
2021-07-23 -2.548255 -0.638819  1.730769  1.356906
2021-07-24  0.293637 -0.261630 -0.589803 -0.822457
2021-07-25 -0.011918  0.087039 -1.301288 -1.150916
2021-07-26 -0.222385 -0.591999  0.792670 -1.955040
2021-07-27  0.170893  1.861392 -0.791882 -0.458599
2021-07-28 -0.689476  0.785188  0.546228  1.354524

In [21]:
df.where(df<0)

                   A        A1        A2        A3
2021-07-21 -0.332861 -0.903407 -0.497269       NaN
2021-07-22 -0.146671 -0.416591 -0.717992       NaN
2021-07-23 -2.548255 -0.638819       NaN       NaN
2021-07-24       NaN -0.261630 -0.589803 -0.822457
2021-07-25 -0.011918       NaN -1.301288 -1.150916
2021-07-26 -0.222385 -0.591999       NaN -1.955040
2021-07-27       NaN       NaN -0.791882 -0.458599
2021-07-28 -0.689476       NaN       NaN       NaN

In [22]:
df.where(df<0,0) # catch smaller 0 and nan become 0

                   A        A1        A2        A3
2021-07-21 -0.332861 -0.903407 -0.497269  0.000000
2021-07-22 -0.146671 -0.416591 -0.717992  0.000000
2021-07-23 -2.548255 -0.638819  0.000000  0.000000
2021-07-24  0.000000 -0.261630 -0.589803 -0.822457
2021-07-25 -0.011918  0.000000 -1.301288 -1.150916
2021-07-26 -0.222385 -0.591999  0.000000 -1.955040
2021-07-27  0.000000  0.000000 -0.791882 -0.458599
2021-07-28 -0.689476  0.000000  0.000000  0.000000

In [24]:
df = pd.DataFrame(np.random.rand(10,3),columns=list('abc'))
df

          a         b         c
0  0.228111  0.874746  0.322901
1  0.399874  0.409539  0.081435
2  0.094718  0.241333  0.458426
3  0.480017  0.282640  0.687169
4  0.974039  0.720095  0.023131
5  0.368484  0.425825  0.615431
6  0.429728  0.175406  0.651604
7  0.938826  0.624586  0.553471
8  0.370115  0.665445  0.878592
9  0.392260  0.480818  0.167700

In [25]:
df.query('(a<b)')

          a         b         c
0  0.228111  0.874746  0.322901
1  0.399874  0.409539  0.081435
2  0.094718  0.241333  0.458426
5  0.368484  0.425825  0.615431
8  0.370115  0.665445  0.878592
9  0.392260  0.480818  0.167700

In [26]:
df.query('(a<b) and (b<c)')

          a         b         c
2  0.094718  0.241333  0.458426
5  0.368484  0.425825  0.615431
8  0.370115  0.665445  0.878592