In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./climate2020.csv')
df.head(7)

,ObsTime,StnPres,SeaPres,StnPresMax,StnPresMaxTime,StnPresMin,StnPresMinTime,Temperature,T Max,T Max Time,...,Precp1DayMax,Precp1DayMaxTime,RH,EvapA,SunShine,GloblRad,UVI Max Mean,UVI Max,UVI Max Time,Cloud Amount
0,1,1008.7,1018.9,1017.7,2020/1/1 09:33,999.6,2020/1/26 13:39,18.0,29.0,2020/1/23 12:58,...,20.0,2020/1/26 00:00,76,89.0,225.1,418.05,...,...,...,3.8
1,2,1010.5,1020.6,1017.8,2020/2/21 09:02,1001.7,2020/2/15 14:34,19.0,30.2,2020/2/26 12:12,...,2.5,2020/2/15 00:00,72,82.0,212.5,446.52,...,...,...,4.0
2,3,1005.3,1015.3,1011.6,2020/3/16 08:59,995.5,2020/3/9 14:36,22.3,33.2,2020/3/26 13:47,...,23.5,2020/3/10 00:00,70,105.6,178.0,480.35,...,...,...,6.4
3,4,1005.7,1015.7,1010.9,2020/4/2 09:51,1000.6,2020/4/19 16:45,22.2,32.8,2020/4/19 12:57,...,20.0,2020/4/2 00:00,70,100.7,154.5,493.50,...,...,...,6.4
4,5,999.4,1009.2,1005.0,2020/5/1 08:49,992.7,2020/5/17 15:52,27.5,36.9,2020/5/10 12:16,...,61.0,2020/5/22 00:00,75,121.2,167.2,522.51,...,...,...,6.7
5,6,999.1,1008.8,1004.7,2020/6/15 00:04,994.8,2020/6/12 16:17,29.1,35.1,2020/6/29 14:10,...,99.0,2020/6/14 00:00,70,121.8,211.9,609.28,...,...,...,5.4
6,7,998.7,1008.3,1003.0,2020/7/21 09:11,993.8,2020/7/14 15:43,29.6,36.3,2020/7/31 13:00,...,28.0,2020/7/2 00:00,74,137.2,215.1,614.72,...,...,...,5.9

In [5]:
df[['ObsTime','SeaPres']][:5]

   ObsTime  SeaPres
0        1   1018.9
1        2   1020.6
2        3   1015.3
3        4   1015.7
4        5   1009.2

In [9]:
#loc label locate
#iloc position locate
df.iloc[0] # first row
df.iloc[0:3] # 0-2 row
df.iloc[0:3,1:5] # 0-2 row and 1-4 col

   StnPres  SeaPres  StnPresMax   StnPresMaxTime
0   1008.7   1018.9      1017.7   2020/1/1 09:33
1   1010.5   1020.6      1017.8  2020/2/21 09:02
2   1005.3   1015.3      1011.6  2020/3/16 08:59

In [10]:
df = df.set_index('ObsTime')

In [13]:
df[:5]

,StnPres,SeaPres,StnPresMax,StnPresMaxTime,StnPresMin,StnPresMinTime,Temperature,T Max,T Max Time,T Min,...,Precp1DayMax,Precp1DayMaxTime,RH,EvapA,SunShine,GloblRad,UVI Max Mean,UVI Max,UVI Max Time,Cloud Amount
ObsTime,,,,,,,,,,,,,,,,,,,,,
1,1008.7,1018.9,1017.7,2020/1/1 09:33,999.6,2020/1/26 13:39,18.0,29.0,2020/1/23 12:58,6.9,...,20.0,2020/1/26 00:00,76,89.0,225.1,418.05,...,...,...,3.8
2,1010.5,1020.6,1017.8,2020/2/21 09:02,1001.7,2020/2/15 14:34,19.0,30.2,2020/2/26 12:12,8.4,...,2.5,2020/2/15 00:00,72,82.0,212.5,446.52,...,...,...,4.0
3,1005.3,1015.3,1011.6,2020/3/16 08:59,995.5,2020/3/9 14:36,22.3,33.2,2020/3/26 13:47,14.5,...,23.5,2020/3/10 00:00,70,105.6,178.0,480.35,...,...,...,6.4
4,1005.7,1015.7,1010.9,2020/4/2 09:51,1000.6,2020/4/19 16:45,22.2,32.8,2020/4/19 12:57,12.8,...,20.0,2020/4/2 00:00,70,100.7,154.5,493.50,...,...,...,6.4
5,999.4,1009.2,1005.0,2020/5/1 08:49,992.7,2020/5/17 15:52,27.5,36.9,2020/5/10 12:16,21.8,...,61.0,2020/5/22 00:00,75,121.2,167.2,522.51,...,...,...,6.7

In [18]:
df.loc[3]

StnPres                      1005.3
SeaPres                      1015.3
StnPresMax                   1011.6
StnPresMaxTime      2020/3/16 08:59
StnPresMin                    995.5
StnPresMinTime       2020/3/9 14:36
Temperature                    22.3
T Max                          33.2
T Max Time          2020/3/26 13:47
T Min                          14.5
T Min Time          2020/3/15 05:29
Td dew point                   16.5
WS                              1.3
WD                              330
WSGust                         11.4
WDGust                          320
WGustTime            2020/3/4 21:38
Precp                            55
PrecpHour                      26.5
PrecpDay                          6
PrecpMax10                      3.5
PrecpMax10Time      2020/3/28 07:10
PrecpMax60                     10.5
PrecpMax60Time      2020/3/10 05:28
Precp1DayMax                   23.5
Precp1DayMaxTime    2020/3/10 00:00
RH                               70
EvapA                         105.6
SunShine                      178.0
GloblRad                     480.35
UVI Max Mean                    ...
UVI Max                         ...
UVI Max Time                    ...
Cloud Amount                    6.4
Name: 3, dtype: object

In [19]:
df.loc[3,'Cloud Amount']

6.4

In [21]:
df.loc[3:7,'T Max':'T Min Time']

         T Max       T Max Time  T Min       T Min Time
ObsTime
3         33.2  2020/3/26 13:47   14.5  2020/3/15 05:29
4         32.8  2020/4/19 12:57   12.8  2020/4/13 06:04
5         36.9  2020/5/10 12:16   21.8  2020/5/20 05:02
6         35.1  2020/6/29 14:10   22.0  2020/6/10 03:22
7         36.3  2020/7/31 13:00   24.0  2020/7/21 04:14

In [22]:
df.loc[3,'T Max']

33.2

In [23]:
df.loc[3,'T Max'] = 400 # 直接賦值

In [24]:
df.loc[3:7,'T Max':'T Min Time']

         T Max       T Max Time  T Min       T Min Time
ObsTime
3        400.0  2020/3/26 13:47   14.5  2020/3/15 05:29
4         32.8  2020/4/19 12:57   12.8  2020/4/13 06:04
5         36.9  2020/5/10 12:16   21.8  2020/5/20 05:02
6         35.1  2020/6/29 14:10   22.0  2020/6/10 03:22
7         36.3  2020/7/31 13:00   24.0  2020/7/21 04:14

In [25]:
df['T Max']>36

ObsTime
1     False
2     False
3      True
4     False
5      True
6     False
7      True
8     False
9     False
10    False
11    False
12    False
Name: T Max, dtype: bool

In [26]:
df[df['T Max']>36]

,StnPres,SeaPres,StnPresMax,StnPresMaxTime,StnPresMin,StnPresMinTime,Temperature,T Max,T Max Time,T Min,...,Precp1DayMax,Precp1DayMaxTime,RH,EvapA,SunShine,GloblRad,UVI Max Mean,UVI Max,UVI Max Time,Cloud Amount
ObsTime,,,,,,,,,,,,,,,,,,,,,
3,1005.3,1015.3,1011.6,2020/3/16 08:59,995.5,2020/3/9 14:36,22.3,400.0,2020/3/26 13:47,14.5,...,23.5,2020/3/10 00:00,70,105.6,178.0,480.35,...,...,...,6.4
5,999.4,1009.2,1005.0,2020/5/1 08:49,992.7,2020/5/17 15:52,27.5,36.9,2020/5/10 12:16,21.8,...,61.0,2020/5/22 00:00,75,121.2,167.2,522.51,...,...,...,6.7
7,998.7,1008.3,1003.0,2020/7/21 09:11,993.8,2020/7/14 15:43,29.6,36.3,2020/7/31 13:00,24.0,...,28.0,2020/7/2 00:00,74,137.2,215.1,614.72,...,...,...,5.9

In [28]:
df[df['StnPresMaxTime'] == '2020/5/1 08:49']

,StnPres,SeaPres,StnPresMax,StnPresMaxTime,StnPresMin,StnPresMinTime,Temperature,T Max,T Max Time,T Min,...,Precp1DayMax,Precp1DayMaxTime,RH,EvapA,SunShine,GloblRad,UVI Max Mean,UVI Max,UVI Max Time,Cloud Amount
ObsTime,,,,,,,,,,,,,,,,,,,,,
5,999.4,1009.2,1005.0,2020/5/1 08:49,992.7,2020/5/17 15:52,27.5,36.9,2020/5/10 12:16,21.8,...,61.0,2020/5/22 00:00,75,121.2,167.2,522.51,...,...,...,6.7

In [31]:
df.loc[df['StnPresMaxTime'] == '2020/5/1 08:49','StnPresMin'].mean() # 條件 df['StnPresMaxTime'] == '2020/5/1 08:49' 關注 StnPresMin

992.7

In [32]:
(df['T Max']>36).sum() # count of t max > 36

3