In [ ]:
# groupby
# original data -> split -> apply -> combined

In [9]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'key':['a','b','c','a','b','c','a','b','c'],
                    'data':[0,5,15,20,15,20,25,15,5]})
df

  key  data
0   a     0
1   b     5
2   c    15
3   a    20
4   b    15
5   c    20
6   a    25
7   b    15
8   c     5

In [4]:
for key in ['a','b','c']:
    print(key,df[df['key'] == key].sum())

a key     aaa
data     45
dtype: object
b key     bbb
data     35
dtype: object
c key     ccc
data     40
dtype: object

In [5]:
df.groupby('key').sum()

     data
key
a      45
b      35
c      40

In [13]:
df.groupby('key').aggregate(np.mean)

          data
key
a    15.000000
b    11.666667
c    13.333333

In [16]:
df = pd.read_csv('./climate2020.csv')
df

,ObsTime,StnPres,SeaPres,StnPresMax,StnPresMaxTime,StnPresMin,StnPresMinTime,Temperature,T Max,T Max Time,...,Precp1DayMax,Precp1DayMaxTime,RH,EvapA,SunShine,GloblRad,UVI Max Mean,UVI Max,UVI Max Time,Cloud Amount
0,1,1008.7,1018.9,1017.7,2020/1/1 09:33,999.6,2020/1/26 13:39,18.0,29.0,2020/1/23 12:58,...,20.0,2020/1/26 00:00,76,89.0,225.1,418.05,...,...,...,3.8
1,2,1010.5,1020.6,1017.8,2020/2/21 09:02,1001.7,2020/2/15 14:34,19.0,30.2,2020/2/26 12:12,...,2.5,2020/2/15 00:00,72,82.0,212.5,446.52,...,...,...,4.0
2,3,1005.3,1015.3,1011.6,2020/3/16 08:59,995.5,2020/3/9 14:36,22.3,33.2,2020/3/26 13:47,...,23.5,2020/3/10 00:00,70,105.6,178.0,480.35,...,...,...,6.4
3,4,1005.7,1015.7,1010.9,2020/4/2 09:51,1000.6,2020/4/19 16:45,22.2,32.8,2020/4/19 12:57,...,20.0,2020/4/2 00:00,70,100.7,154.5,493.50,...,...,...,6.4
4,5,999.4,1009.2,1005.0,2020/5/1 08:49,992.7,2020/5/17 15:52,27.5,36.9,2020/5/10 12:16,...,61.0,2020/5/22 00:00,75,121.2,167.2,522.51,...,...,...,6.7
5,6,999.1,1008.8,1004.7,2020/6/15 00:04,994.8,2020/6/12 16:17,29.1,35.1,2020/6/29 14:10,...,99.0,2020/6/14 00:00,70,121.8,211.9,609.28,...,...,...,5.4
6,7,998.7,1008.3,1003.0,2020/7/21 09:11,993.8,2020/7/14 15:43,29.6,36.3,2020/7/31 13:00,...,28.0,2020/7/2 00:00,74,137.2,215.1,614.72,...,...,...,5.9
7,8,997.5,1007.2,1006.0,2020/8/12 21:54,991.6,2020/8/25 15:04,28.5,35.2,2020/8/25 14:05,...,70.0,2020/8/3 00:00,75,112.6,174.5,526.22,...,...,...,6.3
8,9,999.5,1009.2,1005.1,2020/9/19 08:55,991.9,2020/9/1 03:36,28.1,35.1,2020/9/7 13:35,...,54.5,2020/9/13 00:00,71,111.5,198.6,512.50,...,...,...,5.5
9,10,1002.0,1011.8,1008.0,2020/10/29 08:40,995.5,2020/10/21 14:44,26.1,34.8,2020/10/4 13:28,...,0.0,2020/10/1 00:00,69,132.4,220.1,506.06,...,...,...,5.0
10,11,1005.9,1015.8,1011.0,2020/11/28 09:21,998.4,2020/11/6 15:30,23.9,33.7,2020/11/21 13:38,...,3.0,2020/11/13 00:00,72,91.3,182.9,376.24,...,...,...,4.9
11,12,1007.3,1017.4,1015.8,2020/12/31 09:37,1000.7,2020/12/28 15:16,19.5,28.5,2020/12/28 14:25,...,28.5,2020/12/9 00:00,77,81.4,156.2,338.25,...,...,...,6.6

In [19]:
df.groupby('Cloud Amount')['StnPresMax'].mean()

Cloud Amount
3.8    1017.70
4.0    1017.80
4.9    1011.00
5.0    1008.00
5.4    1004.70
5.5    1005.10
5.9    1003.00
6.3    1006.00
6.4    1011.25
6.6    1015.80
6.7    1005.00
Name: StnPresMax, dtype: float64