In [1]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

In [2]:
data = [10,11,12]
index=['a','b','c']
s = Series(data=data,index=index)
s

a    10
b    11
c    12
dtype: int64

In [3]:
s[0]

10

In [4]:
s[:2]

a    10
b    11
dtype: int64

In [5]:
print(s>10)
s[s>10]

a    False
b     True
c     True
dtype: bool

b    11
c    12
dtype: int64

In [6]:
s.loc['b']

11

In [7]:
s.iloc[1]

11

In [8]:
s1 = s.copy()
s1['a'] = 100
s1

a    100
b     11
c     12
dtype: int64

In [9]:
s1.replace(to_replace=100,value=101,inplace=False) # 將100改成101 是否在原位置上修改 回傳結果
s1

a    100
b     11
c     12
dtype: int64

In [10]:
s1.replace(to_replace=100,value=101,inplace=True) 
s1

a    101
b     11
c     12
dtype: int64

In [11]:
s1.index

Index(['a', 'b', 'c'], dtype='object')

In [12]:
s1.index = ['a', 'b', 'f']
s1

a    101
b     11
f     12
dtype: int64

In [13]:
s1.rename(index={'a':'A'},inplace=True)
s1

A    101
b     11
f     12
dtype: int64

In [14]:
s2 = Series([100,500],index=['g','f'])
s2

g    100
f    500
dtype: int64

In [15]:
s3 = s1.append(s2)
s3

A    101
b     11
f     12
g    100
f    500
dtype: int64

In [26]:
s3['j']=789
s3

A    101
b     11
f     12
j    789
g    100
h    500
dtype: int64

In [27]:
s1.append(s2,ignore_index=True) #是否使用新索引

0    101
1     11
2     12
3    789
4    100
5    500
dtype: int64

In [28]:
s1

A    101
b     11
f     12
j    789
dtype: int64

In [29]:
del s1['j']
s1

A    101
b     11
f     12
dtype: int64

In [30]:
s1.drop(['A','f'],inplace=True)

In [31]:
s1

b    11
dtype: int64

In [16]:
data = [[1,2,3],[4,5,6]]
index = ['a','b']
columns = ['A','B','C']
df = DataFrame(data=data,index=index,columns=columns)
df

   A  B  C
a  1  2  3
b  4  5  6

In [17]:
df['A']

a    1
b    4
Name: A, dtype: int64

In [18]:
df.iloc[0:1,0:2]

   A  B
a  1  2

In [19]:
df.iloc[0:1,0:2]['A']

a    1
Name: A, dtype: int64

In [20]:
df.iloc[0:1,0:2]['A'] = 150
df

     A  B  C
a  150  2  3
b    4  5  6

In [21]:
df.index = ['f','g']
df

     A  B  C
f  150  2  3
g    4  5  6

In [22]:
df.loc['c'] = [5,6,7]
df

     A  B  C
f  150  2  3
g    4  5  6
c    5  6  7

In [23]:
data = [[1,2,3],[4,5,6]]
index = ['q','c']
columns = ['A','B','C']
df2 = DataFrame(data=data,index=index,columns=columns)
df2

   A  B  C
q  1  2  3
c  4  5  6

In [24]:
d3 = pd.concat([df,df2])
d3

     A  B  C
f  150  2  3
g    4  5  6
c    5  6  7
q    1  2  3
c    4  5  6

In [25]:
d4 = pd.concat([df,df2],axis=1)
d4

       A    B    C    A    B    C
f  150.0  2.0  3.0  NaN  NaN  NaN
g    4.0  5.0  6.0  NaN  NaN  NaN
c    5.0  6.0  7.0  4.0  5.0  6.0
q    NaN  NaN  NaN  1.0  2.0  3.0

In [49]:
df2['DDD'] = [10,11]
df2

   A  B  C  DDD
q  1  2  3   10
w  4  5  6   11

In [68]:
df5 = DataFrame([[10,11],[12,13]],index=['q','w'],columns=['D','E'])
df5

    D   E
q  10  11
w  12  13

In [69]:
df6 = pd.concat([df2,df5],axis=1) # index相同
df6

   A  B  C  DDD   D   E
q  1  2  3   10  10  11
w  4  5  6   11  12  13

In [70]:
df6.drop(['q'],inplace=True)
df6

   A  B  C  DDD   D   E
w  4  5  6   11  12  13

In [72]:
df6.drop(['A','D'],axis=1,inplace=True)
df6

   B  C  DDD   E
w  5  6   11  13