In [1]:
import pandas as pd

In [2]:
left = pd.DataFrame({'key':['k0','k1','k2','k3'],
                    'A':['A0','A1','A2','A3'],
                    'B':['B0','B1','B2','B3'],})
right = pd.DataFrame({'key':['k0','k1','k2','k3'],
                    'C':['C0','C1','C2','C3'],
                    'D':['D0','D1','D2','D3'],})

In [3]:
left

  key   A   B
0  k0  A0  B0
1  k1  A1  B1
2  k2  A2  B2
3  k3  A3  B3

In [4]:
right

  key   C   D
0  k0  C0  D0
1  k1  C1  D1
2  k2  C2  D2
3  k3  C3  D3

In [5]:
pd.merge(left=left,right=right)

  key   A   B   C   D
0  k0  A0  B0  C0  D0
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

In [6]:
pd.merge(left=left,right=right,on='key') # 左表右表 以key 合併

  key   A   B   C   D
0  k0  A0  B0  C0  D0
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

In [15]:
left = pd.DataFrame({'key1':['k0','k1','k2','k3'],
                    'key2':['k0','k1','k2','k3'],
                    'A':['A0','A1','A2','A3'],
                    'B':['B0','B1','B2','B3'],})
right = pd.DataFrame({'key1':['k0','k1','k2','k3'],
                    'key2':['k0','k1','k2','k4'],
                    'C':['C0','C1','C2','C3'],
                    'D':['D0','D1','D2','D3'],})

In [16]:
left

  key1 key2   A   B
0   k0   k0  A0  B0
1   k1   k1  A1  B1
2   k2   k2  A2  B2
3   k3   k3  A3  B3

In [17]:
right

  key1 key2   C   D
0   k0   k0  C0  D0
1   k1   k1  C1  D1
2   k2   k2  C2  D2
3   k3   k4  C3  D3

In [18]:
pd.merge(left=left,right=right,on='key1')

  key1 key2_x   A   B key2_y   C   D
0   k0     k0  A0  B0     k0  C0  D0
1   k1     k1  A1  B1     k1  C1  D1
2   k2     k2  A2  B2     k2  C2  D2
3   k3     k3  A3  B3     k4  C3  D3

In [19]:
pd.merge(left=left,right=right,on=['key1','key2']) # 不一致不能merge by key 默認交集

  key1 key2   A   B   C   D
0   k0   k0  A0  B0  C0  D0
1   k1   k1  A1  B1  C1  D1
2   k2   k2  A2  B2  C2  D2

In [20]:
pd.merge(left=left,right=right,on=['key1','key2'],how='outer') # 併集

  key1 key2    A    B    C    D
0   k0   k0   A0   B0   C0   D0
1   k1   k1   A1   B1   C1   D1
2   k2   k2   A2   B2   C2   D2
3   k3   k3   A3   B3  NaN  NaN
4   k3   k4  NaN  NaN   C3   D3

In [21]:
pd.merge(left=left,right=right,on=['key1','key2'],how='outer',indicator=True) #merge 後的情況

  key1 key2    A    B    C    D      _merge
0   k0   k0   A0   B0   C0   D0        both
1   k1   k1   A1   B1   C1   D1        both
2   k2   k2   A2   B2   C2   D2        both
3   k3   k3   A3   B3  NaN  NaN   left_only
4   k3   k4  NaN  NaN   C3   D3  right_only

In [22]:
pd.merge(left=left,right=right,on=['key1','key2'],how='left') # 左表為基準

  key1 key2   A   B    C    D
0   k0   k0  A0  B0   C0   D0
1   k1   k1  A1  B1   C1   D1
2   k2   k2  A2  B2   C2   D2
3   k3   k3  A3  B3  NaN  NaN

In [25]:
pd.merge(left=left,right=right,on=['key1','key2'],how='right')

  key1 key2    A    B   C   D
0   k0   k0   A0   B0  C0  D0
1   k1   k1   A1   B1  C1  D1
2   k2   k2   A2   B2  C2  D2
3   k3   k4  NaN  NaN  C3  D3