In [1]:
import pandas as pd

In [3]:
pd.get_option('display.max_rows')

60

In [5]:
pd.set_option('display.max_rows',100)
pd.Series(index=range(0,100))

C:\Users\BOOM\AppData\Local\Temp/ipykernel_18812/1572732692.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series(index=range(0,100))

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
25   NaN
26   NaN
27   NaN
28   NaN
29   NaN
30   NaN
31   NaN
32   NaN
33   NaN
34   NaN
35   NaN
36   NaN
37   NaN
38   NaN
39   NaN
40   NaN
41   NaN
42   NaN
43   NaN
44   NaN
45   NaN
46   NaN
47   NaN
48   NaN
49   NaN
50   NaN
51   NaN
52   NaN
53   NaN
54   NaN
55   NaN
56   NaN
57   NaN
58   NaN
59   NaN
60   NaN
61   NaN
62   NaN
63   NaN
64   NaN
65   NaN
66   NaN
67   NaN
68   NaN
69   NaN
70   NaN
71   NaN
72   NaN
73   NaN
74   NaN
75   NaN
76   NaN
77   NaN
78   NaN
79   NaN
80   NaN
81   NaN
82   NaN
83   NaN
84   NaN
85   NaN
86   NaN
87   NaN
88   NaN
89   NaN
90   NaN
91   NaN
92   NaN
93   NaN
94   NaN
95   NaN
96   NaN
97   NaN
98   NaN
99   NaN
dtype: float64

In [8]:
pd.set_option('display.max_columns',30)
pd.get_option('display.max_columns')

30

In [9]:
pd.DataFrame(columns=range(0,30))

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
Index: []

In [10]:

pd.get_option('display.max_colwidth')

50

In [12]:
pd.set_option('display.max_colwidth',100)
pd.Series(index=['a'],data=['t'*70])

a    tttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt
dtype: object

In [13]:
pd.get_option('display.precision')

6

In [15]:
pd.set_option('display.precision',20)
pd.Series(index=['a'],data=[1.234567891115151])

a    1.23456789111515097268
dtype: float64